<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<filter>
		<filter-name>MD5Filter</filter-name>
		<filter-class>org.compiere.web.MD5Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MD5Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>GetMD5File</servlet-name>
		<servlet-class>org.compiere.web.GetMD5FileServlet</servlet-class>
	</servlet>
	<!-- <servlet>
		<servlet-name>ICIUPICallback</servlet-name>
		<servlet-class>org.syvasoft.iciciupi.CallBack</servlet-class>
	</servlet> -->



	<servlet-mapping>
		<servlet-name>GetMD5File</servlet-name>
		<url-pattern>/GetMD5File</url-pattern>
	</servlet-mapping>



  <!-- User Login Servlet -->
 <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>org.vijaytech.oilshop.UserLoginServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
</servlet-mapping> 

<!-- Welcome file -->
<welcome-file-list>
    <welcome-file>pages/loginpage.jsp</welcome-file>
</welcome-file-list>
  
   
 <servlet>
    <servlet-name>LoadBillInfo</servlet-name>
    <servlet-class>org.vijaytech.oilshop.LoadBillInfo</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>LoadBillInfo</servlet-name>
    <url-pattern>/LoadBillInfo</url-pattern>
</servlet-mapping>

 


 <session-config>
    <session-timeout>10000</session-timeout> 
</session-config>

<servlet>
    <servlet-name>SalesServlet</servlet-name>
    <servlet-class>org.vijaytech.oilshop.SalesServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>SalesServlet</servlet-name>
    <url-pattern>/SalesServlet</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>org.vijaytech.oilshop.PurchaseServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/PurchaseServlet</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>PrintPurchaseReportServlet</servlet-name>
    <servlet-class>org.vijaytech.oilshop.PrintPurchaseReportServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>PrintPurchaseReportServlet</servlet-name>
    <url-pattern>/PrintPurchaseReportServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ProductCategory</servlet-name>
    <servlet-class>org.vijaytech.oilshop.ProductCategory</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ProductCategory</servlet-name>
    <url-pattern>/ProductCategory</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Product</servlet-name>
    <servlet-class>org.vijaytech.oilshop.Product</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>ProfitAndLossReport</servlet-name>
    <servlet-class>org.vijaytech.oilshop.ProfitAndLossReport</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ProfitAndLossReport</servlet-name>
    <url-pattern>/ProfitAndLossReport</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>InvoicePDFServlet</servlet-name>
    <servlet-class>org.vijaytech.oilshop.utils.InvoicePDFServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>InvoicePDFServlet</servlet-name>
    <url-pattern>/InvoicePDFServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SalesSaveServlet</servlet-name>
    <servlet-class>org.vijaytech.oilshop.SalesSaveServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SalesSaveServlet</servlet-name>
    <url-pattern>/SalesSaveServlet</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>ExpenseEntryServlet</servlet-name>
    <servlet-class>org.vijaytech.oilshop.ExpenseEntryServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ExpenseEntryServlet</servlet-name>
    <url-pattern>/ExpenseEntryServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>CashBookReport</servlet-name>
    <servlet-class>org.vijaytech.oilshop.CashBookReport</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CashBookReport</servlet-name>
    <url-pattern>/CashBookReport</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>CancelSalesEntry</servlet-name>
    <servlet-class>org.vijaytech.oilshop.CancelSalesEntry</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CancelSalesEntry</servlet-name>
    <url-pattern>/CancelSalesEntry</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SingleInvoicePDF</servlet-name>
    <servlet-class>org.vijaytech.oilshop.utils.SingleInvoicePDF</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>SingleInvoicePDF</servlet-name>
    <url-pattern>/SingleInvoicePDF</url-pattern>
</servlet-mapping>
</web-app>
